<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    tr:nth-child(even) {
        background-color: #dddddd;
    }
    </style>
        <meta charset="UTF-8">
        <title>Items</title>
        {% if result %}
      
        {% for item in result %}
        <table id="items" style="width:100%"><tbody><tr>
            <th>Name</th>
            <th>Price</th>
            <th>Link</th>
        </tr><tr>  
            <td> {{ item[0] }}</td>
            <td> {{ item[1] }}</td>
            <td> {{ item[2] }}</td>
        </tr></tbody></table>
        
        {% endfor %}
        {% endif %}
